<div id="wormhole-dest"></div>

<h1>Ember Image Zoom</h1>

{{image-zoom
  small=(hash src="./image2-small.jpg")
  large=(hash src="./image2-full.jpg")
}}

{{image-zoom
  small=(hash src="./image-small.jpg")
  large=(hash src="./image-full.jpg")
}}
